/* Define custom font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Introduction styles */
.intro {
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.greeting {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif; /* custom font */
}

.name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif; /* custom font */
  transition: font-size 0.3s ease; /* Apply transition effect on font size */
}

.details {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif; /* custom font */
}

.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif; /* custom font */
}

/* Wave background styling */
.intro {
  position: relative;
  overflow: hidden;
}

.intro::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('../assets/background.jpeg'); /* Path to background image */
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  width: 558px; 
}

/* Media Queries for Responsive Text */
@media (max-width: 768px) {
  .greeting {
    font-size: 1.5rem;
  }

  .name {
    font-size: 2rem;
  }

  .details {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 1.5rem;
  }

  .details {
    font-size: 1rem;
  }

  .description {
    font-size: 0.9rem;
  }
}
