/* Define custom font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

/* Projects styles */
.projectsSection {
  padding: 50px 0;
  text-align: center;
}

.sectionTitle {
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif; /* Custom font */
}

.projectsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f9fa;
  transition: transform 0.3s ease;
  font-family: "Montserrat", sans-serif; /* Custom font */
  display: flex;
  flex-direction: column;
}

.project:hover {
  transform: translateY(-5px); /* Move the project item up slightly on hover */
}

.project h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif; /* Custom font */
}

.project p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif; /* Custom font */
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Align buttons to the center of the container */
  margin-top: auto; /* Push buttons to the bottom within the project item */
  align-items: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: #007bff; 
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

/* Media Queries for Responsive Design */

/* Small devices (phones) */
@media (max-width: 576px) {
  .project {
    max-width: 90%;
  }
}

/* Medium devices (tablets) */
@media (min-width: 576px) and (max-width: 768px) {
  .project {
    max-width: 45%;
  }
}

/* Large devices (desktops) */
@media (min-width: 768px) {
  .project {
    max-width: 30%;
  }
}
